---
# Metadata comes from _data/settings.json
permalink: "/feed/feed.json"
eleventyExcludeFromCollections: true
---
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ settings.title }}",
  "language": "{{ settings.language }}",
  "home_page_url": "{{ settings.url }}",
  "feed_url": "{{ permalink | absoluteUrl(settings.url) }}",
  "description": "{{ settings.feed.subtitle }}",
  "author": {
    "name": "{{ settings.author.name }}",
    "url": "{{ settings.author.url }}"
  },
  "items": [
    {%- for post in collections.posts | reverse %}
    {%- set absolutePostUrl = post.url | absoluteUrl(settings.url) %}
    {
      "id": "{{ absolutePostUrl }}",
      "url": "{{ absolutePostUrl }}",
      "title": "{{ post.data.title }}",
      "content_html": {% if post.templateContent %}{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | dump | safe }}{% else %}""{% endif %},
      "date_published": "{{ post.date | dateToRfc3339 }}"
    }
    {% if not loop.last %},{% endif %}
    {%- endfor %}
  ]
}