<!doctype html>
<html lang="{{ settings.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or settings.title }}</title>
    <meta name="description" content="{{ description or settings.description }}">
    <meta name="author" content="{{ settings.author.name }}">

    <meta name="generator" content="{{ eleventy.generator }}">

    {#- Poppins Font #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ '/static/css/style.css' | url }}">
    <link rel="stylesheet" href="{{ '/static/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="stylesheet" href="{{ '/static/css/prism-diff.css' | url }}">

     <script src="{{ '/static/js/app.js' | url }}" defer></script>

    <link rel="alternate" href="{{ settings.feed.path | url }}" type="application/atom+xml" title="{{ settings.title }}">
    <link rel="alternate" href="{{ settings.jsonfeed.path | url }}" type="application/json" title="{{ settings.title }}">

    <meta property="og:title" content="{{ settings.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ settings.url }}" />
    <meta property="og:image" content="{{ game.image }}" />
  </head>
  <body>
    <header>
      <h1 class="home"><a href="{{ '/' | url }}">{{ game.title }}</a></h1>

      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <ul class="nav">
      {%- for entry in navigation.items %}
        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>

      {{ content | safe }}

      <div id="subscribe">
        <div class="subscribe-blob">
          <img src="{{ '/static/css/svg/subscribe-blob.svg' | url }}" alt="Subscribe Blob">
        </div>
        <h3 class="hidden">Subscribe</h3>
        <p class="hidden">Subscribe to my newsletter to get updates about the game progress.</p>

        <form action="" method="POST" class="subscribe-form">
            <input type="email" name="email" placeholder="Your email address" class="hidden">
            <button type="submit" class="hidden">Subscribe</button>
        </form>
      </div>

    </main>

    <footer>
      <ul class="social">
      {%- for social in networks.links %}
        <li class="social-item hidden" style="--order: {{ loop.index }}">
          <a href="{{ social.url }}" target="_blank" rel="noopener">
            <i class="icon {{ social.icon }}"></i>
            <span>{{ social.name }}</span>
          </a>
        </li>
      {%- endfor %}
      </ul>
    </footer>
  </body>
</html>