/* Defaults */
:root {
  --font-family: "Poppins", sans-serif;
  --font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;

  scroll-behavior: smooth;
  scroll-padding-top: 100px;

  --nav-height: 60px;
}

/* Theme colors */
:root {
  --color-gray-20: #e0e0e0;
  --color-gray-50: #C0C0C0;
  --color-gray-90: #333;

  --background-color: #000;

  --text-color: var(--color-gray-20);

  --filter-white: invert(95%) sepia(0%) saturate(7483%) hue-rotate(86deg) brightness(109%) contrast(104%);
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.visible {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

p:last-child {
  margin-bottom: 0;
}
p {
  line-height: 1.45;
}

a[href] {
  color: var(--color-gray-50);
}

a[href]:hover {
  color: var(--color-gray-20);
}

table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: var(--font-family-monospace);
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}
code {
  word-break: break-all;
}

/* Header */
header {
  position: absolute;
  bottom: 5px;

  width: 100%;
  margin: auto;

  display: flex;
  justify-content: space-around;
  align-items: center;

  z-index: 1;
}

header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;

  background-color: var(--background-color);

  z-index: 10;
}

.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}

.home a {
  text-decoration: none;

  transition: color 0.3s;
}

.not-found {
  padding-top: 200px;
  text-align: center;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}
.nav-item {
  display: inline-block;
  margin-right: 1rem;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}
.nav-item a {
  font-size: 1.1rem;
  text-decoration: none;

  transition: color 0.3s;
}

/* Posts list */
.postlist {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: 100vw;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.postlist-item:not(:last-child) {
  margin-bottom: 2rem;
}

.postlist-item {
  list-style: none;
}

.postlist-item > article {
  display: flex;
  flex-direction: column;
}

.postlist-item > article {
  transition-delay: calc(100ms * var(--order));
}

.postlist-item .postlist-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
}

.postlist-item .postlist-date {
  color: var(--color-gray-50);
}

.postlist-item .postlist-description {
  color: var(--color-gray-20);
  font-size: 1.1rem;
  font-weight: 300;
}

.postlist-item .postlist-readmore {
  width: max-content;
}


@media screen and (min-width: 992px) {
  .postlist {
    width: 40vw;
  }
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

/* Index */
#hero {
  position: relative;
  overflow: hidden;
}

.hero-image {
  width: auto;
  height: 105vh;

  -webkit-mask-image: linear-gradient(0deg,transparent,transparent 10%,#282d2a 20%);
  mask-image: linear-gradient(0deg,transparent,transparent 10%,#282d2a 20%);

  position: relative;
}

.hero-image > img {
  object-fit: cover;
  object-position: center top;

  width: 100%;
  height: 100%;
}

.hero-blob {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(180deg) scale(1.6);
}

.hero-content {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
}

.hero-content > h1 {
  font-size: 5rem;
  font-weight: bold;

  margin-top: 0;
  margin-bottom: .4rem;

  transition-delay: 100ms;
}

.hero-content > p {
  font-weight: 200;
  font-size: 1.5rem;

  white-space: pre-line;
  text-align: left;

  transition-delay: 200ms;
}

.hero-content > a {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  border-radius: .5rem;

  background-image: radial-gradient(circle at top left, #85a805 10%, #6a8704 80%);

  margin-top: 2rem;

  transition-delay: 300ms;
}

.hero-content > a:hover {
  color: #fff;

  background-image: radial-gradient(circle at top left, #a3cf06 0%, #6a8704 120%);
} 

.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5rem;

  margin: 0 1rem;
}

.feature-image > img {
  width: 100%;

  object-fit: contain;
}

.feature-content > h3 {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--color-gray-20);
}

.feature-item {
  transition-delay: calc(100ms * var(--order));
}

#features,
#gallery,
#subscribe {
  margin: 15rem auto;
}

#features h2,
#gallery h2 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-gray-20);
  text-align: center;
  
  margin-top: 0;
  margin-bottom: 6rem;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 0.25rem;

  margin: 0 1rem;
}

.gallery-item {
  width: 100%;

  position: relative;

  transition-delay: calc(100ms * var(--order));
}

.gallery-item img {
  height: 100%;
  width: 100%;

  object-fit: cover;
}

.gallery-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0);

  transition: background-color 0.3s;
}

.gallery-item:hover::before {
  background-color: rgba(0, 0, 0, 0.6);
}

.gallery-item:hover figcaption {
  visibility: visible;
  opacity: 1;
}

.gallery-item figcaption {
  color: var(--color-gray-20);

  position: absolute;
  bottom: 20px;
  opacity: 0;
  visibility: hidden;

  padding: 0 1rem;

  transition: opacity 0.3s, visibility 0.3s;
}

.gallery-item > figure {
  margin: 0;
}

#subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 100vh;
  position: relative;
  overflow: hidden;
}

#subscribe > *:not(.subscribe-blob) {
  padding-left: 1rem;
  padding-right: 1rem;

  width: 100%;
}

.subscribe-blob {
  width: 100vw;
  height: auto;

  position: absolute;
  top: 60%;
  left: 50%;

  transform: translate(-50%, -60%) scale(1.5);
}

#subscribe > h3 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-gray-90);
  margin-bottom: 2rem;

  transition-delay: 100ms;
}

#subscribe > p {
  margin-bottom: 4rem;
  color: var(--color-gray-50);

  transition-delay: 200ms;
}

.subscribe-form > input {
  transition: all 1s 300ms, outline 0.3s;
}

.subscribe-form > input,
.subscribe-form > button {
  width: 100%;
  height: 3rem;
  margin: 1rem 0;
  padding: 0 1rem;
  border: 1px solid var(--color-gray-50);
  border-radius: 0.25rem;
}

.subscribe-form > button {
  transition: all 1s 400ms, color 0.3s, background-color 0.3s;

  background-color: var(--color-gray-50);
  color: var(--color-gray-90);
  cursor: pointer;
}

.subscribe-form > button:hover {
  background-color: var(--color-gray-90);
  color: var(--color-gray-50);
}

.subscribe-form .bot-field {
  display: none;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding: 0 1rem;
}

.social-item {
  transition-delay: calc(100ms * var(--order));
}

.social-item.hidden {
  transform: translateY(100%);
}

.social-item.visible {
  transform: translateY(0);
}

.social > li {
  list-style: none;
}

.social > li > a {
  text-decoration: none;

  transition: color 0.3s;
}

.social a > span {
  display: none;
}

.social .icon {
  display: inline-block;

  width: 40px;
  height: 40px;
  vertical-align: middle;

  filter: var(--filter-white);
  background-repeat: no-repeat;

  margin-right: 1rem;
}

.icon.youtube {
  background-image: url("./svg/youtube.svg");
}

.icon.twitter {
  background-image: url("./svg/twitter.svg");
}

.icon.instagram {
  background-image: url("./svg/instagram.svg");
}

.icon.tiktok {
  background-image: url("./svg/tiktok.svg");
}

.icon.discord {
  background-image: url("./svg/discord.svg");
}

footer {
  margin: 5rem auto;
}

/* Blog */
.blog {
  padding-top: var(--nav-height);
}

.blog > h1 {
  font-size: 5rem;
  text-align: center;
  color: #FFF;
}

.blog-posts > h2 {
  font-weight: 300;
  font-size: 2.2rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  text-align: left;
  width: 100vw;
  color: var(--color-gray-50);
  
  padding-left: 20px;
  padding-right: 20px;
}

/* Post */
.post {
  padding-top: var(--nav-height);
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  width: 100vw;
}

.post > h1 {
  font-size: 3rem;
  text-align: center;
  color: #FFF;
  margin-bottom: 1rem;
}

.post > time {
  display: block;
  text-align: center;

  padding-bottom: 1rem;
  margin-bottom: 2rem;

  border-bottom: 1px solid var(--color-gray-90);
}

.post > figure {
  margin-left: 0;
  margin-right: 0;
}

.post > figure:has(img) {
  text-align: center;
}

.post > figure > figcaption {
  font-style: italic;
  color: var(--color-gray-50);
}

.post img {
  width: 100%;
  max-width: 100%;
  height: auto;

  object-fit: cover;
}

.post .eleventy-plugin-youtube-embed > lite-youtube {
  margin: 0 auto;
}

@media screen and (min-width: 992px) {
  .nav-item {
    margin-right: 2rem;
  }

  .hero-content > h1 {
    font-size: 8rem;
  }

  .hero-blob {
    top: 50%;
    left: 53%;
  
    transform: translate(-50%, -50%) rotateX(180deg) scale(0.4);
  }

  .hero-image > img {
    object-position: left top;
  }

  .feature-grid {
    margin: auto 5rem;
  }

  .feature-item.hidden,
  .gallery-item.hidden {
    transform: translateY(100%);
  }

  .feature-item.visible,
  .gallery-item.visible {
    transform: translateY(0);
  }

  #subscribe {
    width: 50vw;
    height: 80vh;

    margin-left: auto;
    margin-right: auto;
  }

  .subscribe-blob {
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(0.5);
  }

  .subscribe-form > input,
  .subscribe-form > button {
    width: 50%;
  }

  .social {
    gap: 3rem;
  }

  .social a > span {
    display: inline-block;
  }

  .social .icon {
    width: 25px;
    height: 25px;

    margin-right: 0.1rem;
  }

  .blog-posts > h2 {
    width: 40vw;
  }

  .post {
    width: 50vw;
  }

  .post img {
    width:  auto;
  }
}