---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div id="hero">
  <div class="hero-image">
    <img src="{{ game.image }}" alt="{{ game.title }}">
  </div>
  <div class="hero-blob">
    <img src="/static/css/svg/hero-blob.svg">
  </div>
  <div class="hero-content">
    <h1 class="hidden">{{ game.title }}</h1>
    <p class="hidden">{{ game.description }}.</p>
    <a href="https://store.steampowered.com/app/2240080/Spilled/" target="_blank" rel="noopener" class="hidden">Wishlist game on Steam</a>
  </div>
</div>

<div id="features">
  <h2 class="hidden">Features</h2>

  <div class="feature-grid">
    {% for feature in game.features %}
      <div class="feature-item hidden" style="--order: {{ loop.index }}">
        <div class="feature-image">
          <img src="{{ feature.image }}" alt="{{ feature.title }}">
        </div>
        <div class="feature-content">
          <h3>{{ feature.title }}</h3>
          <p>{{ feature.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div id="gallery">
  <h2 class="hidden">Screenshots</h2>

  <div class="gallery-grid">
    {% for image in game.gallery %}
      <div class="gallery-item hidden" style="--order: {{ loop.index }}">
        <figure>
          <img src="{{ image.image }}" alt="{{ image.caption }}">
          <figcaption>{{ image.caption }}</figcaption>
        </figure>
      </div>
    {% endfor %}
  </div>
</div>
